<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
    <style type="text/css">
        *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        }
        body{
            padding-top: 150px;
            background-color: #000
        }
        #searchbox{
            width: 50%;
            margin:auto;
        }
    </style>>
</head>
<body>
    <div id="searchbox">
        <input placeholder="search" type="text">
        <button>SEARCH</button>>
    </div>
</body>
</html>