<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
<h1>This is the MainPage</h1><br>
<form class="navbar-form navbar-left" role="search" action="/s/">
    <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="search">
        <button type="submit" class="btn btn-default">submit</button>
    </div>
</form>

<!--<form action="addcart" method="post">-->
<!--    {% csrf_token %}-->
<!--    <input type="checkbox" name="checks" value="http://www.youtube.com">-->
<!--    <input type="checkbox" name="checks" value="http://www.google.com">-->
<!--  <input type="text" name="NAME">-->
<!--  <input type="submit">-->
<!--</form>-->
</body>
</html>
